table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: auto;
}

td {
  height: 50px;
  width: 50px;
  text-align: center;
}
img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
#ey {
  height: 100px;
}

#top {
  height: 50px;
}

#knowledge {
  height: 50px;
}
div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  height: 21.5vh;
}

